

<header class="navbar" id="navbar">
    <div class="container">
        <div class="nav-brand">
            <span class="brand-text">Collagène Extra</span>
        </div>
        
        <nav class="nav-menu" id="navMenu">
            <a href="#benefits" class="nav-link">Bienfaits</a>
            <a href="#ingredients" class="nav-link">Ingrédients</a>
            <a href="#faq" class="nav-link">FAQ</a>
            <a href="#" class="nav-logo-link">
                <img src="https://pharma-shop.tn/img/logo.png" alt="Pharma Shop" class="nav-logo">
            </a>
            <a href="#" class="nav-logo-link">
                <img src="https://www.paramall.tn/img/logo.png" alt="Paramall" class="nav-logo">
            </a>
        </nav>
        
        <div class="mobile-menu-btn" id="mobileMenuBtn">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>

